<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Hackathon 2015 - SUBTTL</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <script src="http://use.typekit.net/gqr8pyu.js"></script>
        <script>try{Typekit.load();}catch(e){}</script>
        <link href="public/css/subttl.css" rel="stylesheet" type="text/css" media="all"/>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-sanitize.js"></script>

      <script>
        angular.module('subttlApp', ['ngSanitize'])
            .controller('subtitleSearchCtrl', function ($scope, $sce, $http) {
              $scope.hits = {};
              $scope.sendPost = function () {
                console.log($scope);
                var data = {
                  "query": {
                    "bool": {
                      "should": [
                        {
                          "match_phrase": {
                            "subtitles.en": {
                              "query": $scope.searchText,
                              "boost": 10.0,
                              "analyzer": "language_en"
                            }
                          }
                        },
                        {
                          "match_phrase": {
                            "subtitles.fr": {
                              "query": $scope.searchText,
                              "boost": 10.0,
                              "analyzer": "language_en"
                            }
                          }
                        },
                        {
                          "match": {
                            "subtitles.en": {
                              "query": $scope.searchText,
                              "analyzer": "language_fr"
                            }
                          }
                        },
                        {
                          "match": {
                            "subtitles.fr": {
                              "query": $scope.searchText,
                              "analyzer": "language_fr"
                            }
                          }
                        }
                      ]
                    }
                  },
                  "highlight": {
                    "fragment_size": 1000,
                    "fields": {
                      "subtitles.en": {
                        "order": "score"
                      },
                      "subtitles.fr": {
                        "order": "score"
                      }
                    }
                  }
                };
                $http.post("http://norman-vm1.nfb.ca:9200/nfb_films/films/_search", data).success(function (data, status) {
                  $scope.hits = data.hits.hits;
                  for (var i = 0; i < $scope.hits.length; i++) {
                    var hit = $scope.hits[i];
                    var sub_en = typeof(hit.highlight['subtitles.en']) != "undefined" ? hit.highlight['subtitles.en'] : [];
                    var sub_fr = typeof(hit.highlight['subtitles.fr']) != "undefined" ? hit.highlight['subtitles.fr'] : [];
                    hit["highlight_subtitles"] = [].concat(sub_en, sub_fr);
                  }
                })
              }
            })
      </script>

      <style>


        </style>
        <!-- TODO: Complete this project :) -->
    </head>
    <body>
	

        <div class="container">

<div ng-app="subttlApp" ng-controller="subtitleSearchCtrl">             
	<div class="head">
		<h1 class="brand">Subttl</h1>

		<div class="search-boite big-boite">
				<form ng-submit="sendPost()">
					<div class="row sfield">
						<div class="col-xs-1"><i class="fa fa-quote-left fa-2x"></i></div>
						<div class="col-xs-10">
						    <div class="input-group">
						      <input ng-model="searchText" type="text" class="form-control input-lg" placeholder="Recherche dans les sous-titres" />
						      <span class="input-group-btn">
						        <button type=submit class="btn btn-default btn-lg">&nbsp; <i class="fa fa-search fa-lg"></i> &nbsp;</button>
						      </span>
						    </div>
							 </div>
						<div class="col-xs-1"><i class="fa fa-quote-right fa-2x"></i></div>
					</div>
				</form> 
		</div>
	
	</div>

<div class="resultats">
	<ul class="liste-resultats list-unstyled">
		<li class="resultat" ng-repeat="hit in hits">
			<div><img ng-src="{{ hit._source.thumbnail_url.replace('https:','http:') }}" alt=""></div>
			<h2 class="titre-film">{{ hit._source.title }}</h2>
			<div>
					<blockquote ng-repeat="tt in hit.highlight_subtitles">
					<!--blockquote ng-repeat="tt in hit.highlight_subtitles"-->
					<div>
						<p ng-bind-html="tt.substring(14)"></p>
						<footer>
							<a href="#" data-id="{{ tt.substring(1, 13) }}" data-toggle="modal" data-target="#myModal">
							<i class="fa fa-clock-o"></i> {{ tt.substring(1, 13) }} <i class="fa fa-play-circle"></i>
							</a>
						</footer>
					</div>
					</blockquote>
			</div>
		</li>
	</ul>
</div>



</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <p id="timecode"> 00:00:00.000 </p>
      </div>
      <div class="modal-body">
	  
      <video height="100%" width="100%" style="display:block; margin: 0 auto;" id="videoTag"  controls>
        <source src="http://nfbca-stream.nfbcdn.ca/FLASH/flash4/collection4/streams/M1M/films/1000_413526_406706_VI26048000_-.mp4" type="video/mp4">
        <p class="warning">Your browser does not support HTML5 video.</p>
      </video>
	  
      </div>
    </div>
  </div>
</div>

        <script src="http://code.jquery.com/jquery.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		 <script type="text/javascript">
	var timestamp = "00:33:35.279";
	var timestamp = "00:00:00.000";
	var sec = timestamp.split('.');
	var tt = sec[0].split(':');
	var tSeek = getTimeSeek(timestamp);
	//document.getElementById('videoTag').addEventListener('loadedmetadata', function() {
	//  this.currentTime = tSeek
	  //this.play();
	//}, false);
	function getTimeSeek (timeStamp){
	  var sec = timeStamp.split('.');
	  var tt = sec[0].split(':');
	  return tt[0]*3600+tt[1]*60+tt[2]*1;
	}

	// hack sur body --- a investiquer pour le rendre plus specifique au modal #myModal
	$('body').on('hidden.bs.modal', '.modal', function () {
		//$("#timecode").val('');
		$('#videoTag').trigger('pause');
	});
	 
	$('#myModal').on('shown.bs.modal', function() {
		//$("#timecode").val("00:15:35.279");
		var timestamp = "00:15:35.279"
		var tSeek = getTimeSeek(timestamp);
		$("#videoTag").get(0).currentTime = tSeek;
		$("#videoTag").get(0).play()
		$("#timecode").val(timestamp);
	});



      </script>
    </body>
</html>
