body {
  font-family: "proxima-nova", sans-serif;
  color: #242424;
  background-color: #eeeeee;
}
body .container {
  max-width: 800px;
}
.head {
  margin: 10rem 0 ;
}
a,
a:focus,
a:visited {
  color: #168050;
  outline: none;
}
a:hover {
  color: #07291a;
}
h1.brand {
  font-family: "kari-pro-wide";
  font-size: 10rem;
  font-style: italic;
  text-align: center;
  color: #bbbbbb;
  color: #25d786;
}
.btn:hover {
  background-color: #25d786;
  border-color: #25d786;
  color: #242424;
}
.btn:hover i {
  color: #168050;
}
.sfield i {
  color: #bbbbbb;
}
.search-boite {
  text-align: center;
}
.search-boite .fa-quote-right {
  margin-left: -30px;
}
.search-boite .fa-quote-left {
  margin-right: -30px;
}
.search-boite button {
  width: 100%;
}
@media (max-width: 768px) {
  .search-boite button {
    margin-top: 2em;
    width: auto;
  }
}
.form-inline .form-group {
  width: 100%;
}
.form-inline .form-control {
  min-width: 60%;
  margin: 0 1rem;
}
.form-inline .btn {
  margin-left: 2rem;
}
.form-control:focus {
  border-color: #25d786;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(37, 215, 134, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(37, 215, 134, 0.6);
}
.resultat {
  margin: 0 2rem;
}
.resultat img {
  width: 100%;
  border-radius: 50%;
  transition: all 0.2s ease;
}
.resultat img {
  opacity: 0.75;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.resultat:hover img {
  opacity: 1;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.resultat blockquote {
  border: 0 ;
  padding-left: 0;
}
.resultat blockquote p:before,
.resultat blockquote p:after {
  font-family: "FontAwesome";
  content: "\f10d";
  font-size: 60%;
  vertical-align: top;
}
.resultat blockquote p:before {
  padding-right: 1rem;
}
.resultat blockquote p:after {
  content: "\f10e";
  padding-left: 1rem;
}
.resultat footer {
  font-size: 1.5rem;
}
.resultat cite {
  font-weight: 700;
}
.resultat .highlite {
  background-color: #7ae8b6;
  padding: 0 0.5rem;
}.resultat em {
  background-color: #7ae8b6;
  padding: 0 0.5rem;
}
.resultat .play-clip {
  float: right;
}
